<div style="text-align:center">
  <h1><br>
   {{depname}}  Section Menu! 
  </h1>
  <h3>
  	In admin-menu-component/section-menu-component
  </h3>
  </div>
  <div style="text-align:center">
      <button
          class="btn btn-primary" 
          (click)="addSection()">
          Add Section
      </button>

      <button
          class="btn btn-primary" 
          (click)="viewSection()">
           View Section 
      </button>

      <button
          class="btn btn-primary" 
          (click)="setSection()">
           Set Section 
      </button>

      <button
          class="btn btn-primary" 
          (click)="deleteSection()">
           Delete Section 
      </button>

</div>

<div style="text-align:center">

  <p *ngIf= addSectionvar >
    Create Section
    	  
        Select sem

    <select [(ngModel)]= "semValue" class="form-group">
      <option value="sem1">sem1</option>
      <option value="sem2">sem2</option>
      <option value="sem3">sem3</option>
      <option value="sem4">sem4</option>
      <option value="sem5">sem5</option>
      <option value="sem6">sem6</option>
      <option value="sem7">sem7</option>
      <option value="sem8">sem8</option>
    </select> 

    	Select section
    <select [(ngModel)]= "secValue" class="form-group" >
      <option value="sem1">sec1</option>
      <option value="sem2">sec2</option>
      <option value="sem3">sec3</option>
    </select> 

    <button
            class="btn btn-primary" 
            (click)="addSectiondb()">
             add Section 
    </button>

  </p>
  </div>

  <p *ngIf= deleteSectionvar >
    delete Section

  </p>

  <p style="text-align:center" *ngIf= viewSectionvar >
    view Section

<select [(ngModel)]= "semValue" class="form-group" (click)="viewSectionFaculty()" >

    <option value="sem1">sem1</option>
    <option value="sem2">sem2</option>
    <option value="sem3">sem3</option>
    <option value="sem4">sem4</option>
    <option value="sem5">sem5</option>
    <option value="sem6">sem6</option>
    <option value="sem7">sem7</option>
    <option value="sem8">sem8</option>
 </select> 
 <br>
      Select section 
 <select [(ngModel)]= "secValue" class="form-group" (click)="viewSectionFaculty()">
    <option value="sec1">sec1</option>
    <option value="sec2">sec2</option>
    <option value="sec3">sec3</option>
 </select>  
 <br>


  <span *ngFor="let section of allSectionDetails">
   {{section.subname }}: {{section.subcode }} : {{section.facultyname}} <br>
</span>


  </p>

 <p style="text-align:center" *ngIf= setSectionvar >
    set Section Faculty

<select [(ngModel)]= "semValue" class="form-group" (click)="getSubject(semValue)">

    <option value="sem1">sem1</option>
    <option value="sem2">sem2</option>
    <option value="sem3">sem3</option>
    <option value="sem4">sem4</option>
    <option value="sem5">sem5</option>
    <option value="sem6">sem6</option>
    <option value="sem7">sem7</option>
    <option value="sem8">sem8</option>
 </select> 
 <br>
      Select section 
  <select [(ngModel)]= "secValue" class="form-group" >
    <option value="sec1">sec1</option>
    <option value="sec2">sec2</option>
    <option value="sec3">sec3</option>
 </select> 
 <br>

<!-- =====CAUTION: entha karanathai'kkondum keel ulla varigalil kai vaika vendaam===== -->
  <span *ngFor="let subject of allSubjects ; let i = index " >
{{subject.subname}}: {{subject.subcode}} : {{i}}

  <select [(ngModel)]= "facValue[i]" (click)="showFac( facValue[i] )">

      <option *ngFor="let faculty of allFaculty" > {{faculty.name}}
      </option>

</select>
    <br>
</span>
<!-- ================================================================================== -->
    <button
          class="btn btn-primary" 
          (click)="setSectiondb()">
          Set Section Faculty
      </button> <br>


  </p>

