<div class="jumbotron" style="text-align: center">
  <h2>FEEDBACK FORM</h2>
<h4> {{username}} </h4>

<h5>
  
clgcode {{clgcode}}
joinyear {{joinyear}}
depcode {{depcode}}


</h5>

</div>

<div class="container" style="text-align:center;">
    <table class="table table-bordered">
          <tr>   
            <th>SUB NAME 1</th>
            <th>SUB NAME 2</th>
          </tr>

           <tr *ngFor = "let subject of subjects; let i = index" >
                        <td>
                        {{ subject.name }} 
                        <input type="radio"  [(ngModel)]="subject.marks" value="male" > Male
                        <input type="radio"  [(ngModel)]="subject.marks" value="female" > Female 

                        </td>
                        <td>{{ subject.marks }}</td>
                     </tr>

      </table>

      <div class="container" style="width:15%; height:5%;">
          <button class="login100-form-btn" routerLink="/login"> 
            SUBMIT
          </button>
      </div>
</div>

<!-- <form> -->
<!--   <div class="md-radio"> -->

<!-- <input type="radio"  [(ngModel)]="male" value="male" > Male
<input type="radio"  [(ngModel)]="male" value="female" > Female

{{male}} -->
<!-- </div> -->

<!-- </form> -->


<div class="container" style="text-align:center;">
    <table class="table table-bordered">
          <tr>   
            <th>Questions</th>
            <th>STAFF NAME 1</th>
            <th>STAFF NAME 2</th>
            <th>STAFF NAME 3</th>
            <th>STAFF NAME 4</th>
          </tr>

           <tr *ngFor = "let question of questions ; let i = index" >
                        <td>{{ question }}</td>
                        <td> 
                            <form>
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="a" > a
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="b" > b
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="c" > c
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="d" > d
                            </form>
                         </td>

                         <td> 
                            <form>
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="a" > a
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="b" > b
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="c" > c
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="d" > d
                            </form>
                         </td>

                         <td> 
                            <form>
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="a" > a
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="b" > b
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="c" > c
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="d" > d
                            </form>
                         </td>

                         <td> 
                            <form>
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="a" > a
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="b" > b
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="c" > c
                              <input type="radio"  name=question [(ngModel)]="male[i]" value="d" > d
                            </form>
                         </td>
                     </tr>
      </table>

      <!-- <div class="container" style="width:15%; height:5%;">

          <button class="login100-form-btn" routerLink="/login"> 
            SUBMIT
          </button>
      </div> -->
</div>
